body {
  margin: 0;
}

.top-panee {
  /* background-color: hsl(240, 1%, 32%); */
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  /* background-color: hsl(210, 2%, 25%); */
  background-color: #99AAAB;
  /* max-height: 300px; */
  
}

.pane {
  height: 50vh;
  display: flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  /* background-color: hsl(210, 2%, 25%); */
  background-color: #99AAAB;
  
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  user-select: none;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.CodeMirror {
  height: 100% !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  /* width */
  /* background-color: #47535E !important; */
}
  ::-webkit-scrollbar {
  width: 10px;  
  
  }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
  
}

.floatingbtn{
  
}

/* ul{
  display: flex;
  position: relative;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
} */

.ecRslO{
margin-left: 100px;
}

iframe{
  background-color: #DAE0E2;
}


.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #fff !important;
}